/*!
 * Scss Com as configurações de cor base
 * Data de Criação: 02/06/2014
 * @author Roger Ramos
/*

/*==============================
 =            Cores            =
/=============================*/

$cor-base: #71ad11;
$cor-base-light: saturate($cor-base, 10%);
$cor-Linhas: #e0e0e0;


/*===============================
 =            Fontes            =
/==============================*/

$fonte-titulos: 'Source Sans Pro', sans-serif;



