//*!
//* Padrões reutilizáveis
//* Data de Criação: 03/06/2014
//* http://www.e-construmarket.com.br
//* @author Roger Ramos
//*/


//*=================================
//=            Clearfix            =
//================================*/

%cf {
	*zoom: 1;
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

//*======================================
//=            Botões inline            =
//=====================================*/

%btn-default {
	display:inline-block;
	text-indent:-800px;
	overflow:hidden;
}

//*======================================
//=            Ícones inline            =
//=====================================*/
%inline-ico {
	display:inline-block;
	vertical-align: middle;
}

//*=========================================
//=            Inputs - Outline            =
//========================================*/

%outline-config {
	outline: 0;
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,.13);
	box-shadow: 0 0 8px rgba(0,0,0,.13);
	border-color:$cor-base;
}