/*!
 * Headings - h1 à h6
 * Data de Criação: 02/06/2014
 * http://www.e-construmarket.com.br
 * @author Roger Ramos
 */

$headingMargin-h1-h3: 20px 0 10px;
$headingMargin-h4-h6: 10px 0;

h1, h2, h3, h4, h5, h6 {
	font-family:$fonte-titulos;
	font-weight:400;
	line-height:1.1;


}
h1 {
	font-size:2.538em;
	margin:$headingMargin-h1-h3;
}

h2 {
	font-size:1.643em;
	margin:$headingMargin-h1-h3;
	color:$cor-base;
}
h3 {
	font-size:1.286em;
	margin:$headingMargin-h1-h3;
	color:#545454;
}
h4 {
	font-size:1.071em;
	margin:$headingMargin-h4-h6;
	color:#8d8d8d;
}
h5 {
	font-size:.929em;
	margin:$headingMargin-h4-h6;
	color:#8d8d8d;
}
h6 {
	font-size:.857em;
	margin:$headingMargin-h4-h6;
	color:#8d8d8d;
}
