//*!
//* Mixins - padrões reutilizáveis
//* Data de Criação: 02/06/2014
//* http://www.e-construmarket.com.br
//* @author Roger Ramos
//*

//*=========================================
//=            Gradiente linear            =
//========================================*/

@mixin gradiente-linear($corEscura, $corClara) {
	background: mix($corEscura, $corClara); // Browsers antigos
	background: -moz-linear-gradient(top,  $corEscura 0%, $corClara 100%); // FF3.6+
	background: -webkit-linear-gradient(top,  $corEscura 0%,$corClara 100%); // Chrome10+,Safari5.1+
	background: -ms-linear-gradient(top,  $corEscura 0%,$corClara 100%); // IE10+
	background: linear-gradient(to bottom,  $corEscura 0%,$corClara 100%); // W3C
}

//*==========================================
//=            Borda arredondada            =
//=========================================*/

@mixin border-radius($border-size) {
	-webkit-border-radius: $border-size;
	   -moz-border-radius: $border-size;
		-ms-border-radius: $border-size;
			border-radius: $border-size;
}

@mixin border-radius-single($border-size, $border-side:"") {
	// -webkit-border-radius-#{$border-side}: $border-size;
	//    -moz-border-radius-#{$border-side}: $border-size;
	// 	-ms-border-radius-#{$border-side}: $border-size;
			border-#{$border-side}-radius: $border-size;
}

//*====================================
//=            Drop Shadow            =
//===================================*/

@mixin drop-shadow($argumentos, $type, $argumentos2:"") {
	@if $type == "drop" {
		-webkit-box-shadow: #{$argumentos};
			box-shadow: #{$argumentos};
	}
	@if $type == "inner" {
		-webkit-box-shadow:inset #{$argumentos};
			box-shadow:inset #{$argumentos};
	}
	@if $type == "double" {
		-webkit-box-shadow:inset #{$argumentos}, #{$argumentos2};
			box-shadow:inset #{$argumentos}, #{$argumentos2};
	}
	
}

//*================================
//=            Outline            =
//===============================*/

@mixin outline-default($border-color:""){
	@if #{$border-color} != "" {
		@extend %outline-config;
		border-color: #{$border-color}!important;
	} @else {
		@extend %outline-config;
	}
}
//*===================================
//=            Transition            =
//==================================*/

@mixin transition($valor:"") {
	-webkit-transition: #{$valor};
	transition: #{$valor};
}