// Descomente a linha abaixo para usar os sprites
//@import "../img/iconav/*.png";

@mixin ico-background($arquivo) {
	@include iconav-sprite($arquivo);
	width: iconav-sprite-width($arquivo);
	height: iconav-sprite-height($arquivo);
}


@import "_basic-scheme.scss";
@import "_mixins.scss";
@import "_headings.scss";
@import "_defaults.scss";
@import "reset.scss";